body {
    font-variant: small-caps;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.header {
    height: 60px;
    width: 100%;
    background-color: rgb(53, 59, 58);
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.logo {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.item {
    padding: 0.5rem;
}

.menu {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.conteudo{
    margin-bottom: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario button {
    font-variant: small-caps;
}

.formulario input{
    font-variant: small-caps;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.16);
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cardCheckbox{
    margin-right: 10px;
    cursor: pointer;
}

.card h3{
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

@media (min-width: 600px) {
    .header {
        flex-direction: row;
    }
    .menu {
        flex-direction: row;
    }
    #menu {
        display: none;
    }
    .link {
        padding: 1.3rem;
    }
    .grid {
        grid-template-columns: auto auto;
    }
    .formulario {
        flex-direction: row;
    }
    .formulario input {
        width: 38%;
        margin-bottom: 0px;
    }
    .formulario button {
        width: 18%;
    }
}

@media (min-width: 900px) {
    .logo img {
        margin-left: 50px;
    }
    .menu {
        margin-right: 50px;
    }
    .grid {
        grid-template-columns: auto auto auto auto;
    }
    .formulario {
        max-width: 900px;
        margin: auto;
    }
}