body {
    font-variant: small-caps !important;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 1.8em;
}

.mainHeader {
    background-color: rgb(72, 77, 75);
    width: 100%;
    position: fixed;
    display: flex;
    padding: 1rem;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo img {
    height: 40px;
}

.mainMenu {
    list-style: none;
}

.mainItem {
    display: inline-block;
}

.mainLink:hover {
    color: rgba(255, 255, 255, 0.8);
}

.mainLink {
    text-decoration: none;
    color: #fefefe;
    padding: 1rem;
}

#menu {
    display: none;
}

.subMenu {
    position: absolute;
    list-style: none;
    display: none;
    padding: 0;
    background-color: rgb(72, 77, 75);
}

.subMenuItem {
    margin: 20px 0;
}

.mainItem:hover .subMenu {
    display: block;
}

@media (max-width: 920px) {
    #menu {
        display: block;
    }
    .mainMenu {
        text-align: right;
        display: block;
        margin: 0;
        padding: 0;
        margin-top: -40px;
        height: 40px;
        overflow: hidden;
    }
    .mainItem {
        display: block;
        padding: 1rem;
    }
    .subMenu {
        position: relative;
        list-style: none;
        display: none;
        padding: 0;
        background-color: rgb(72, 77, 75);
    }
}

.container {
    margin: auto;
    padding: 72px;
}

.lista{
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
}

table input[type="text"] {
    font-variant: small-caps;
    border: none;
}

table input[type="text"]:focus {
    outline: none;
}

.tarefa {
    text-align: left;
}


.google {
    margin: auto;
    display: block;
    max-width: 200px;
}

#feedback{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background-color: purple;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.calculadora{
    font-size: 2rem;
}

.calculadora td, .calculadora th{
    min-height: 5rem;
    min-width: 4rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
}

#calc{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
    background-color: purple;
    padding: 0.4rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
}

#calculadora{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 3.5rem 1rem;
    background-color: #fefefe;
    padding: 0.2rem;
}

#topo{
    position: sticky;
    top: 95vh;
    margin: 1rem;
    background-color: purple;
    padding: 0.5rem;
    color: white;
} 
