body {
  font-feature-settings: normal;
  font-variant: small-caps !important;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-size: 1.8em;
}

.container {
    padding-top: 72px;
}